[submodule "poky"]
	path = layers/poky
	url = git://git.yoctoproject.org/poky
	branch = dunfell
[submodule "meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = dunfell
[submodule "layers/meta-cizies-looper"]
	path = layers/meta-cizies-looper
	url = git@github.com:bcis93/meta-cizies-looper.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = dunfell

